@keyframes expand {

  0% {
    height: 20px;
  }

  50% {
    height: 70px;
  }

  100% {
    height: 20px;
  }
}

* {
  box-sizing: border-box;
  font-family: Epilogue, sans-serif;
  margin: 0;
  padding: 0;
}

html , body {
  height: 100%;
  font-family: Roboto, sans-serif;
}

body {
  background-color: rgb(246, 246, 246);
}

.header {
  position: relative;
  background-color: rgb(25, 32, 86);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  width: 100%;
  height: 60px;
}

.title {
  color: rgb(221, 221, 221);
  font-size: 30px;
  padding-left: 30px;
}

.header-cart-title span {
  z-index: 1;
}

.header-cart-title:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: rgb(4, 104, 191);
  transform: skew(-45deg);
  z-index: 0;
}

.header-cart-title:before {
  content: '';
  position: absolute;
  top: 30px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: rgb(4, 104, 191);
  transform: skew(45deg);
  z-index: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.title strong {
  color: white;
}

.product-area {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  flex-grow: 1;
}

.item {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 20px 10px;
  width: 200px;
  border: 1px solid rgb(104, 104, 104);
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  transition: all ease-in-out 0.1s;
}

.item:hover {
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.4);
}

.item-border {
  padding: 10px;
}

.item-sku {
  display: none;
}

.item-price {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 700;
  text-align: center;
}

.item-image {
  object-fit: contain;
  height: 200px;
}

.item-title {
  overflow: hidden;
  height: 55px;
  text-align: center;
  margin-bottom: 20px;
}

.item-add {
  background-color: rgb(4, 104, 191);
  border: 0;
  font-weight: 700;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  color: white;
  transition: all ease-in-out 0.2s;
}

.item-add:hover {
  background-color: rgb(6, 59, 105);
}

.cart {
  display: flex;
  flex-basis: 32%;
  flex-flow: column wrap;
  background-color: rgb(241, 241, 238);
  height: 100vh;
}

.empty-cart {
  width: 170px;
  height: 35px;
  margin: 0 auto;
  font-weight: 700;
  color: rgb(4, 104, 191);
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid rgb(4, 104, 191);
  background-color: rgb(249, 249, 246);
  transition: all ease-in-out 0.2s;
}

.empty-cart:hover {
  background-color: rgb(4, 104, 191);
  color: white;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  user-select: none;
  background-color: rgb(4, 104, 191);
  color: white;
  display: flex;
  gap: 10px;
  font-size: 40px;
  justify-content: center;
  align-items: center;
}

.loading .line {
  background-color: white;
  width: 20px;
  height: 20px;
  animation: expand infinite 1s;
}

.loading .line:nth-child( 1 ) {
  animation-delay: 0.1s;
}

.loading .line:nth-child( 2 ) {
  animation-delay: 0.2s;
}

.loading .line:nth-child( 3 ) {
  animation-delay: 0.3s;
}

.cart-area {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow-y: scroll;
}

.cart-product-info-area {
  display: flex;
  flex-direction: column;
}

.cart-product-name {
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 34px;
}

.cart-product-row {
  display: flex;
  margin-top: 10px;
  align-content: flex-end;
  justify-content: right;
}

.cart-item {
  display: flex;
  min-height: 75px;
  height: 75px;
  width: 100%;
  align-items: center;
  user-select: none;
  cursor: default;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.cart-image {
  object-fit: contain;
  height: 70px;
  margin-right: 20px;
}

.cart-delete-product {
  background-color: rgb(217, 38, 22);
  color: white;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 22px;
  position: absolute;
  top: 0;
  right: -50px;
  transition: all ease-in-out 0.3s;
}

.cart-product-id {
  display: none;
}

.cart-item:hover .cart-delete-product {
  right: 0;
}

#body {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#toggle-cart {
  cursor: pointer;
  user-select: none;
}

.cart-container {
  position: relative;
  height: 100%;
  width: 500px;
  overflow: hidden;
  transition: all ease-in-out 0.2s;
  border-left: 2px solid rgb(4, 104, 191);
}

.cart-container.hidden {
  width: 0;
}

.header-cart-title {
  height: 60px;
  font-weight: 700;
  background-color: rgb(4, 104, 191);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-title {
  color: white;
  font-size: 28px;
  padding-left: 35px;
  font-weight: 700;
}

.cart-info-area {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 22px;
}

.search-area {
  width: 40%;
}

.search-input {
  width: 80%;
  height: 30px;
  padding: 5px 10px;
  font-size: 16px;
  outline: none;
  border: none;
  transition: all ease-in-out 0.2s;
}

.search-input:focus {
  width: 100%;
}
